/* @override http://localhost:3000/assets/home.css?body=1 */

// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background: url(bg.png);
  font-family: "Lucida Grande", "Verdana", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.wrapper {
  width: 320px;
  text-align: center;
}

.header
  a.logo {
    background: url(logo.png) no-repeat;
    display: block;
    text-indent: -9999px;
    width: 154px;
    height: 86px;
    margin: 0 auto;
  }
 
 input#user_email {
	border: 2px solid #CDC8BE;
	font-size: 22px;
	padding: 5px;
	width: 220px;
}

.name {
	text-transform: uppercase;
	font-family: "Lucida Grande", "Verdana", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	margin:  25px;
	font-weight:  bolder;
	font-size: 25px;
	margin-bottom: 0px;
	color: #333333;
}

.name span, .meta, .meta a{
	font-family: Georgia, "Times New Roman", serif;
	color: #B1ADA1;
	font-weight: normal;
	text-transform: none;
	margin-top: 8px;
	font-style: italic;
	text-shadow: 1px 1px 0px #fff;
}

.meta {
	margin-top: 30px;
}

.meta a{
	text-decoration: none;
	font-style: normal;
	border-bottom: 1px solid #fff;
}

.name span {
	display: block;
}
input.button {
	text-transform: uppercase;
	width: 234px;
	font-size: 18px !important;
}